.footer{
    background-color: $second-color;
    // &_body{}
    &_footer{
        margin-left: 24px;
        margin-right: 24px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        color:$first-light-color;
        :first-child{
            font-family: "font-primary-title-2";
            font-size: 0.80rem;
            strong{
                font-size: 0.80rem;
            }
        }
        :last-child{
            font-family: "font-primary-title-3";
            font-size: 0.75rem;
        }

    }
}