div(class="bannerHome")
  div(class="bannerHome_image")
  div(class="bannerHome_resumen")
    p(class="bannerHome_resumen_text") I am an Industrial Robots Programmer, Web Developer, and this is my website. Here you find all about me, projects, and exercises that I develop to practice in my free time. 
  div(class="bannerHome_contactInfo")
    include contactInfo.pug
  div(class="bannerHome_question")
    h1 Would you like to read about me ?
    a(class="button" href="about.html") click here
