div(class="bannerAbout")
  div(class="bannerAbout_image")
  div(class="bannerAbout_cv")
    a(class="button" href="./assets/files/Resume-Cristian_Emmanuel_Castillo_Medina.pdf" target="_blank") download cv