div(class="bannerHome")
  div(class="bannerHome_image")
  div(class="bannerHome_resumen")
    p(class="bannerHome_resumen_text") #[strong I] am an #[strong Industrial Robots Programmer] and #[strong Web developer]. This is my website where I show some projects and exercises that I have developed in my free time.
  div(class="bannerHome_contactInfo")
    include contactInfo.pug
  div(class="bannerHome_question")
    h1 Would you like to read about me ?
    a(class="button" title="Go to About" href="#") click here
