div(class="contactInfo")
  div(class="contactInfo_title")
    h1  Contact Me:
  div(class="contactInfo_generalIcons")  
    div(class="contactInfo_generalIcons_icon")
      img(class="icon" alt="" src="./assets/icons/email-first.svg")
      a(href="#") kristian.emm@gmail.com
    div(class="contactInfo_generalIcons_icon")
      img(class="icon" alt="" src="./assets/icons/phone-first.svg")
      span() (55) 16 99 24 67
  div(class="contactInfo_socialNetworksIcons")
    a(class="contactInfo_socialNetworkIcons_icon" href="#")
      img(class="icon" alt="" src="./assets/icons/github-second.svg")
    a(class="contactInfo_socialNetworksIcons_icon" href="#")
      img(class="icon" alt="" src="./assets/icons/linkedin-second.svg")
    a(class="contactInfo_socialNetworksIcons_icon" href="#")
      img(class="icon" alt="" src="./assets/icons/twitter-second.svg")
  div(class="contactInfo_button")
    a(class="button" href="#") drop your message