footer(class="footer")
  div(class="footer_body")
    div(class="footer_body_seccion")
    div(class="footer_body_seccion")
    div(class="footer_body_seccion")
  div(class="footer_footer")
    p This website was created by 
      strong kristian Emmanuel 
    p 
      small Copyright &copy 2021 | All rights reserved.