header(class="header")
  div(class="header_logo")
    a(class="header_logo_image")
      img(alt="" src="./assets/logo.svg")
      img(alt="" src="./assets/illustrations/line.svg")
    a(class="header_logo_text")
      p hi,
      p there!
  div(class="header_navigation")
    div(class="header_navigation")
      include links.pug