header(class="header")
  div(class="header_logo")
    a(class="header_logo_image")
    a(class="header_logo_text")
  div(class="header_navigation")
    div(class="header_navigation")
      include links.pug