nav(class="header_navigation_icons")
  a(class="header_navigation_icons_icon")
  a(class="header_navigation_icons_icon")
  a(class="header_navigation_icons_icon")
  a(class="header_navigation_icons_icon")
  a(class="header_navigation_icons_icon")
  a(class="header_navigation_icons_icon")