div(class="menu")
  span(class="menu_icon")
  nav(class="menu_links")
    a(class="menu_links_link")
    a(class="menu_links_link")
    a(class="menu_links_link")
    a(class="menu_links_link")
    a(class="menu_links_link")