div(id="menu_modal" class="menu")
  span(id="menu_modal-close" class="menu_icon")
    img(src="./assets/icons/close.svg")
  nav(class="menu_links")
    a(class="menu_links_link" href="index.html") Home
    a(class="menu_links_link" href="about.html") About
    a(class="menu_links_link" href="portfolio.html") Portfolio
    a(class="menu_links_link" href="./assets/files/Resume-Cristian_Emmanuel_Castillo_Medina.pdf" target="_blank") Curriculum
    a(class="menu_links_link" href="contact.html") Contact