div(id="menu_modal" class="menu")
  span(id="menu_modal-close" class="menu_icon")
    img(src="./assets/icons/close.svg")
  nav(class="menu_links")
    a(class="menu_links_link" href="#") Home
    a(class="menu_links_link" href="#") About
    a(class="menu_links_link" href="#") Portfolio
    a(class="menu_links_link" href="#") Resumen
    a(class="menu_links_link" href="#") Contact