div(class="modal" id="modal")
  span(id="modal-close" class="modal_close")
    img(id="modal-image" src="./assets/icons/close.svg")
  div(class="modal_body")
    img(alt="course-certificated" id="image_certificated")