nav(class="navbar" class="notranslate")
  a(class="navbar_link" href="contact.html") Contact
  a(class="navbar_link" href="./assets/files/Resume-Cristian_Emmanuel_Castillo_Medina.pdf" target="_blank") Curriculum
  a(class="navbar_link" href="portfolio.html") Portfolio
  a(class="navbar_link" href="about.html") About 
  a(class="navbar_link" href="index.html") Home