nav(class="navbar")
  a(class="navbar_link" href="#" title="Go to Contact") Contact
  a(class="navbar_link" href="#" title="Go to Resumen") Resume
  a(class="navbar_link" href="#" title="Go to Portfolio") Portfolio
  a(class="navbar_link" href="#" title="Go to About") About
  a(class="navbar_link" href="#" title="Go to Home") Home