div(class="notify_contact" id="notify_contact_error")
  div(class="notify_contact_container")
    div(class="notify_contact_content")
      div(class="notify_contact_content_header")
        p Sorry, 
        p your message could not be sent.
      div(class="notify_contact_content_body")
        img(alt="image-message" src="./assets/illustrations/message-wrong.svg")
        p At the moment this service is not available, please try again later, thank you.
      div(class="notify_contact_content_footer")
        button(class="button " id="btn_trylater_notify_contact" type="button") Close