div(class="notify_contact" id="notify_contact_success")
  div(class="notify_contact_container")
    div(class="notify_contact_content")
      div(class="notify_contact_content_header")
        p() Your message has been sent successfully
      div(class="notify_contact_content_body")
        img(class="" alt="image-message" src="./assets/illustrations/message-ok.svg")
        p() Thanks for visit my website. I am happy to receive your message, and I will try to answer you personally as soon as possible
      div(class="notify_contact_content_footer")
        button(class="button" id="btn_close_notify_contact" type="button") Close