<svg fill="none" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
<path class="push_random_color" d="M28.0272 18.9904C27.0645 18.6283 25.2379 19.1009 25.2379 19.1009L23.0594 17.4857L17.1491 11.8186L12.0197 15.1955L13.2282 17.5687C13.2282 17.5687 13.2285 17.5593 13.2291 17.5475C13.1623 17.3202 17.5338 23.9308 17.5338 23.9308C17.643 24.1233 17.5216 25.3152 17.4003 25.4984C16.3931 27.019 17.2665 28.3236 17.4345 28.9941L30.0566 19.5572C29.9848 19.5004 28.855 19.3019 28.0272 18.9904V18.9904Z"  fill="#383E45"/>
<path class="push_random_color" d="M14.7024 9.22813L10.2457 12.4222L11.9176 15.8101L17.0491 11.6064L14.7024 9.22813Z"  fill="#383E45"/>
<path d="M17.5041 11.6132L14.7112 9.22542L13.2351 10.332L15.6774 12.9827L17.5041 11.6132Z" fill="black" fill-opacity="0.15"/>
<path d="M23.7305 26.6432C23.7305 26.6432 24.7775 27.9246 24.9959 28.187L30.088 34.0004L34.2902 36.5795L33.4278 33.488L26.3379 24.7009L23.7305 26.6432Z" fill="#D0CFCE"/>
<path d="M32.5137 32.1779L26.9156 25.3884L26.3448 24.692L25.0362 25.6806L33.9144 36.1466L32.5137 32.1779Z" fill="#9B9B9A"/>
<path d="M22.9222 20.8212C22.9222 20.8212 24.093 20.8379 25.0533 21.1991C25.8789 21.5098 26.6771 21.9544 26.7488 22.0111L29.6985 19.5206C29.0532 19.212 27.9261 18.5637 26.1366 19.1409C25.9214 19.2103 25.5758 19.1053 25.4041 18.9603C25.4041 18.9603 18.7541 13.1084 19.0125 13.2623L17.0387 11.5631L15.6662 12.9473L22.1773 19.9473L22.9222 20.8212Z" fill="black" fill-opacity="0.15"/>
<path d="M24.1316 27.1091L29.9746 34.1237L34.4921 36.7937L32.5236 32.1939L26.6914 25.192" stroke="black" stroke-width="0.782078" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13.8175 17.3861L17.9014 24.5925C16.0352 27.41 17.3625 29.2519 17.3625 29.2519L29.9966 19.7808C29.9966 19.7808 28.4151 18.1295 25.0944 19.2004L18.6502 13.7633" stroke="black" stroke-width="0.782078" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.7027 9.22658L17.504 11.6217L11.9174 15.8101L10.1099 12.6699L14.7027 9.22658Z" stroke="black" stroke-width="0.782078" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>