.button{
    font-family: "font-primary-control-1";
    font-size: 0.9rem;
    text-transform: uppercase;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    color: $second-dark-color;
    border: 1px solid $second-dark-color;
    line-height: 1;
    display: inline-block;
    cursor: default;
    position: relative;
    user-select: none;
    &:focus{
        outline: none;
    }
    &::before{
        content: "";
        display: inline-block;
        width: 0%;
        height: 100%;
        background-color: rgba($color: $onSecond-dark-color, $alpha: 0.2);
        opacity: 0.9;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }
    @include mediaQueryHover(){
        &:hover{
            transform: scale(1.05);
            &::before{
                animation: overlayButton;
                animation-duration: 0.4s;
                animation-fill-mode: forwards;
            }
        }
    }
    @include mediaQueryNoHover(){
        &{
            color: $second-dark-color;
        }
    }
    &-disabled{
        color: $first-light-color;
        border: 1px solid $first-light-color;
        @include mediaQueryHover(){
        &:hover{
            transform: none;
            &::before{
                animation: none;
            }
        }
    }
        @include mediaQueryNoHover(){
            &{
                color: none;
            }
        }
    }
}
@keyframes overlayButton {
    from{width: 0%;}
    to{width: 100%;}
}