.push_random_color,
.focus_random_color{
    &-red{
        fill:$red-color
    }
    &-pink{
        fill:$pink-color
    }
    &-purple{
        fill: $purple-color;
    }
    &-violet{
        fill: $violet-color;
    }
    &-dark-blue{
        fill: $dark-blue-color;
    }
    &-blue{
        fill: $blue-color;
    }
    &-yellow{
        fill: $yellow-color;
    }
    &-orange{
        fill: $orange-color;
    }
    &-green{
        fill: $green-color;
    }
    &-cyan{
        fill: $cyan-color;
    }
}