doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./styles/index.css")
    link(rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon")
    title Home
  body
    div(class="layout")
      include components/header.pug
      aside
        include components/navbar.pug
      main
        seccion(id="home-seccion-introduccion")
          p(id="home-seccion-introduccion-text-1") I
          p(id="home-seccion-introduccion-text-2") Am
          p(id="home-seccion-introduccion-text-3") Nice to meet you
          p(id="home-seccion-introduccion-text-4") Introduce myself
          img(id="home-seccion-introduccion-image-badge" alt="" src="./assets/illustrations/badge.svg")
          div(class="contactInfo")
            div(class="contactInfo_generalIcons")
              div(class="contactInfo_generalIcons_icon")
                img(class="icon" alt="" src="./assets/icons/email.svg")
                a(href="malito:kristian.emm@gmail.com") kristian.emm@gmail.com
              div(class="contactInfo_generalIcons_icon")
                img(class="icon" alt="" src="./assets/icons/phone.svg")
                span() 5516992467
            div(class="contactInfo_socialNetworkIcons")
              div(class="contactInfo_socialNetwork_icon")
                img(class="icon" alt="" src="./assets/icons/github.svg")
              div(class="contactInfo_socialNetwork_icon")
                img(class="icon" alt="" src="./assets/icons/linkedin.svg")
              div(class="contactInfo_socialNetwork_icon")
                img(class="icon" alt="" src="./assets/icons/twitter.svg")
            div(class="contactInfo_button")
              a(class="button") More about me
      include components/footer.pug
      script
        include ../js/index.js

