doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./styles/index.css")
    link(rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon")
    title Home
  body
    include components/menu.pug
    div(class="layout-container")
      include components/header.pug
      aside
        include components/navbar.pug
      main(class="autofill")
        seccion(class="seccion" id="home-seccion-banner")
          include components/bannerHome.pug
        seccion(class="seccion" id="home-seccion-readAboutMe")
          h1 Would you like to read about me ?
          a(class="button" href="about.html") click here
      include components/footer.pug
      script
        include ../js/index.js

