doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./styles/index.css")
    title Home
  body
    div(class="layout")
      include components/header.pug
      aside
        include components/navbar.pug
      main
        seccion(id="home-seccion-introduccion")
          p(id="home-seccion-introduccion-text-1") I
          p(id="home-seccion-introduccion-text-2") Am
          p(id="home-seccion-introduccion-text-3") Nice to meet you
          p(id="home-seccion-introduccion-text-4") Introduce myself
          img(id="home-seccion-introduccion-image-badge" alt="" src="./assets/illustrations/badge.svg")
          a(class="button") More about me
      include components/footer.pug
      script
        include ../js/index.js

